<%- include('./port/layout-start', {title: title}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <% if (!user) { %>
            <h1 class="display-4"><%= title %></h1>
            <p>Please, <a href="/user/login"> log in </a></p>
        <% } else { %>
            <h1 class="display-4">Hello, <%= user.displayName %></h1>
            <p>Go to <a href="/user/me">profile</a>.</p>
        <% } %>
    </div>
</div>

<%- include('./port/layout-end') %>